# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Combot data collection json file
/Users/ninaluo/CombotBackend/combot-data-collection-8eee97e4e41f.json
